<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white">
      <a class="navbar-brand">
        Sport E-Commerce
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-3 bg-info p-2 text-white">
      <button class="btn btn-block btn-outline-primary" (click)="changeCategory()">
        Home
      </button>
      <button class="btn btn-block btn-outline-primary" *ngFor="let cat of categories" (click)="changeCategory()" [class.active]="cat==selectedCategory">
        {{ cat }}
      </button>
    </div>
    <div class="col-9 p-2">
      <div class="card m-1 p-1" *ngFor="let product of products">
        <h4>{{product.name}}
          <span class="badge badge-pill badge-primary float-right bg-danger">
            {{ product.price | currency:"EUR"}}
          </span>
        </h4>
        <div class="card-text bg-white p-1">
          {{product.description}}
        </div>
      </div>

    </div>
  </div>
</div>

